venv/
nanogpt/out/
nanogpt/data/shakespeare_char/input.txt
nanogpt/data/shakespeare_char/train.bin
nanogpt/data/shakespeare_char/val.bin
nanogpt/data/shakespeare_char/meta.pkl
__pycache__/
*.pyc
.DS_Store
